<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.builtio.demoNotes"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:name="com.builtio.demoNotes.ApplicationClass"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/uinotes_notes_text"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
        android:uiOptions="none" >
        <receiver
            android:name="com.raweng.built.ConnectionStatus"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.raweng.built.BuiltClearCache"
            android:enabled="true" >
            <intent-filter>
                <action android:name="StartClearingCache" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.builtio.demoNotes.activity.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.builtio.demoNotes.activity.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.builtio.demoNotes.activity.NoteActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.builtio.demoNotes.activity.SignUpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.builtio.demoNotes.activity.CheckNoteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
         <activity
            android:name="com.builtio.demoNotes.activity.PreviewImageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.raweng.built.userInterface.UIAndroidExplorerScreen" >
        </activity>
        <activity
            android:name="com.raweng.built.userInterface.BuiltTwitterLoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitterlogin"
                    android:scheme="x-oauthflow-twitter" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>